.container{
    
    border: 4px solid rgb(0, 0, 0);
}
.name{text-align: center;}
.STUDENT{text-align: center;}

.footer{
    display: flex;
    gap: 200px;
}
.iconos{
font-weight: 100px;
}

.skill{
    display: flex;
    gap: 54px;
}
.linea{
    border-left: 2px solid black;
    height: 175px;
}
.hola {
    width: 200px;
    margin-left: 15x;
    margin-right: 15px;
    height: 2px;
    background-color: black;
}
.correo {

}




